<!DOCTYPE html>
<html>
  <head>
    <title>Customer Invoice</title>
    <style>
      table {
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <h1>Print Invoice</h1>

     <a class="btn btn-lg" href="{% url 'schedule1' %}"> Schedule 1</a> <br/>    
     <a class="btn btn-lg" href="{% url 'schedule5' %}"> Schedule 5</a>    <br/>
     <a class="btn btn-lg" href="{% url 'it10bb' %}"> IT-10 BB (2023)</a>    <br/>
     <a class="btn btn-lg" href="{% url 'it10b' %}"> IT-10 B (2023)</a>    <br/>


  </body>
</html>
