<html>
    <body>
        <h1 style="text-align:right">{{title}}</h1>
        <h3 style="text-align:center">Statement of Assets, Liabilities and Expenses as on </h3>
        
        <p>Name of the Assessee: ..............................</p>
        <p style="text-align:right">TIN ..............................</p>
       
        <table style="border: 1px solid #000">
            <tr>
                <td>Sl</td>
                <td colspan="5">Sources of fund:</td>
            </tr>
            <tr>
                <td width="20" rowspan="3">1</td>
                <td width="20">(a)</td>
                <td>Total income shown in return (SL. No.11 of statement of total income)</td>
                <td  width="20">TK</td>
                <td width="100"></td>
                <td  width="100" rowspan="3"></td>
            </tr>
            <tr>
                
                <td>(b)</td>
                <td>Tax Exempted Income</td>
                <td>TK</td>
                <td></td>
                
            </tr>
            <tr>
                
                <td>(b)</td>
                <td>Receipt of Gift and others</td>
                <td>TK</td>
                <td></td>
                
            </tr>
            <tr>
                <td></td>
                <td colspan="2" style="text-align: right;">Total Sources of Fund:</td>
                <td>TK</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>2</td>
                <td colspan="2" >Net wealth at the last date of the previous income year</td>
                <td>TK</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>3</td>
                <td colspan="2" >Sum of Source of fund and net wealth at the last date of the previous income year (1+2)</td>
                <td>TK</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td rowspan="3">4</td>
                <td>(a)</td>
                <td >Expenses relating to Lifestyle (as per IT-10BB)</td>
                <td>TK</td>
                <td></td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                
                <td>(b)</td>
                <td >Gift/Expenses/Loss not mentioned in IT-10BB - Treatment Expense for Daughter</td>
                <td>TK</td>
                <td></td>
               
            </tr>
            <tr>
                
                
                <td colspan="2" style="text-align: right;">Total Expenses and Loss</td>
                <td>TK</td>
                <td colspan="2"></td>
               
            </tr>
            <tr>
                <td>5</td>
                <td colspan="2" >Net wealth at the last date of this financial year (3-4)</td>
                <td>TK</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td rowspan="5">6</td>
                <td colspan="5">Personal liabilities ( outside business)</td>
            </tr>
            <tr>
                
                <td>(a)</td>
                <td >Institutional liabilities</td>
                <td>TK</td>
                <td></td>
                <td rowspan="3"></td>
            </tr>
            <tr>
                
                <td>(b)</td>
                <td >Non-institutional liabilities</td>
                <td>TK</td>
                <td></td>
                
            </tr>
            <tr>
                
                <td>(c)</td>
                <td >Other liabilities </td>
                <td>TK</td>
                <td></td>
                
            </tr>
            <tr>
                
                
                <td colspan="2" style="text-align: right;">Total liabilities outside business</td>
                <td>TK</td>
                <td colspan="2"></td>
                
            </tr>

            <tr>
                <td>7</td>
                <td colspan="2" >Total Gross wealth (5+6)</td>
                <td>TK</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="6">* if needed attach separate sheet</td>
            </tr>
            <tr>
                <td>8</td>
                <td colspan="5" >Particular of assets located in Bangladesh</td>
 
            </tr>

            <tr>
                
                <td rowspan="3">(a)</td>
                <td colspan="2">Less: All Business Liabilities</td>
                <td>TK</td>
                <td colspan="2"></td>
                
            </tr>
            <tr>
                <td colspan="2">Less: All Business Liabilities</td>
                <td>TK</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">Less: All Business Liabilities</td>
                <td>TK</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                
                <td >(b)</td>
                <td colspan="2">Shares in limited companies as a Director</td>
                <td>TK</td>
                <td colspan="2"></td>
                
            </tr>
            <tr>
                
                <td >(c)</td>
                <td colspan="2">Business capital in Partnership Firm</td>
                <td>TK</td>
                <td colspan="2"></td>
                
            </tr>
            <tr>
                
                <td >(d)</td>
                <td colspan="2">Non-agricultural property/land/building (cost price with legal exp./acquired price/building cost/invetment) Description, location and size of non-agricultural property </td>
                <td>TK</td>
                <td colspan="2"></td>
                
            </tr>
            <tr>
                
                <td >(e)</td>
                <td colspan="2">Agricultural property (cost price/acquired price)</td>
                <td>TK</td>
                <td colspan="2"></td>
                
            </tr>
            <tr>
                
                <td rowspan="8">(f)</td>
                <td colspan="5">Financial assets:</td>
               
                
            </tr>
            <tr>
                
                <td >(i)</td>
                <td >Share/Debenture/Bond/Securities/Unit Certificate etc.</td>
                <td>TK</td>
                <td></td>
                <td rowspan="6"></td>
                
            </tr>
            <tr>
                
                <td >(ii)</td>
                <td >Savings certificate/Deposit Pension Scheme</td>
                <td>TK</td>
                <td></td>
                
                
            </tr>
            <tr>
                
                <td >(iii)</td>
                <td >Loan given (Mention name and TIN of loan receiver)</td>
                <td>TK</td>
                <td></td>
                
                
            </tr>
            <tr>
                
                <td >(iv)</td>
                <td >Fixed Deposit/Term Deposit</td>
                <td>TK</td>
                <td></td>
                
                
            </tr>
            <tr>
                
                <td >(v)</td>
                <td >Provident Fund or Other Fund (if any)</td>
                <td>TK</td>
                <td></td>
                
                
            </tr>
            <tr>
                
                <td >(vi)</td>
                <td >Other investment</td>
                <td>TK</td>
                <td></td>
                
                
            </tr>
            <tr>
                
                
                <td colspan="2" style="text-align: right;">Total Financial assets	</td>
                <td>TK</td>
                <td colspan="2"></td>
                
                
            </tr>

            <tr>
                
                <td >(g)</td>
                <td colspan="2">Motor car(s) (cost value) *Mention type of motor vehicle and Registtration number:</td>
                <td>TK</td>
                <td colspan="2"></td>
                
            </tr>
            <tr>
                
                <td >(h)</td>
                <td colspan="2">Ornaments (mention quantity)  </td>
                <td>TK</td>
                <td colspan="2"></td>
                
            </tr>
            <tr>
                
                <td >(i)</td>
                <td colspan="2">Furniture and electronic items </td>
                <td>TK</td>
                <td colspan="2"></td>
                
            </tr>
            <tr>
                
                <td >(j)</td>
                <td colspan="2">Other assets (except assets mentioned in sl. k) - Electronics</td>
                <td>TK</td>
                <td colspan="2"></td>
                
            </tr>
            <tr>
                
                <td rowspan="5">(k)</td>
                <td colspan="5">Total fund outside business ( a+b+c) - as below</td>
                
               
                
            </tr>
            <tr>
                <td>(a)</td>
                <td >Cash at Bank</td>
                <td >TK</td>
                <td  colspan="2"></td>
                
            </tr>
            <tr>
                <td>(a)</td>
                <td >Cash at Hand</td>
                <td >TK</td>
                <td  colspan="2"></td>
                
            </tr>
            <tr>
                <td>(a)</td>
                <td >Other Cash</td>
                <td >TK</td>
                <td  colspan="2"></td>
                
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">Total Assets</td>
                <td>TK</td>
                <td colspan="2"></td>
            </tr>


            <tr>
                <td>9</td>
                <td colspan="2" >Assets located outside of Bangladesh (as applicable)</td>
                <td>TK</td>
                <td colspan="2"></td>
            </tr>


            <tr>
                <td>10</td>
                <td colspan="2" >Total assets located in Bangladesh and located outside Bangladesh (8+9)</td>
                <td>TK</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td>Diff</td>
                <td colspan="2"></td>
            </tr>
        </table>
        <p>I declare that to the best of my knowledge and belief the information given in this IT-10B (2023) herewith are correct and complete. </p>
        <br/><br/>
        <p>Name of Assessee and Signature</p>
        <p>Date: ...........................</p>

<style>
    td{
        border:1px solid #000;
       
    }
</style>

        </body>
    </html>