<html>
    <body>
        <h1 style="text-align: center;">National Board of Revenue</h1>
        <p style="text-align: center;">www.nbr.gov.bd</p>
        
        <h3 style="text-align:right">Return for Natural Individual  Assessee  </h3>
        <p>For office use</p>
        <p>Serial no. of return register: ......</p>
        <p>Column no. of return register: ......</p>
        <p>Date of return submission    : ......</p>
        


        <hr>
        <ol>
          <li>
            Name of the Assessee: ............................
          </li>
          <li>
            National Identification Number/Passport Number (If no NID): ....................
          </li>
          <li>
            TIN: ....................................
          </li>
          <li>
            (a) Circle: ..............     <br>
            (b) Tax Zone: ............
          </li>
          <li>
            Asssessment Year:
          </li>
          <li>
            Resident Status:<br>
            Resident .... <br>
            Non-resident ....
          </li>
          <li>
            Tax payer Status (tick one) : <br>
            Individual .... <br>
            Firm ....<br>	
            Hindu Undivided Family ....<br>
            Other ....
          </li>
          <li>
            Tick on the box below for availing privilege: <br>
            A gazetted war-wounded freedom fighter <br>
            Female <br>
            Third Gender <br>
            Disabled person <br>
            Aged 65 years or more <br>
            A parent or legal guardian of a person with disability 
          </li>
          <li>
            Date of Birth ............
          </li>
          <li>
            Name of Spouse: ............... <br>
            TIN, if spouse is an Assessee: ...................
          </li>
          <li>
            Address for Correspondence: <br>
            Telephone: ........ <br>
            Mobile: ........... <br>
            e-mail: ...........
          </li>
          <li>
            If employed, employer’s name (Latest employer's name in case of multiple employment):
          </li>
          <li>
            (a) Name of Business Entity: <br>
            (b) Business Identification Number (BIN):
          </li>
          <li>
            Name & TIN of Partners/Members in case of Frim/Association of person (If needed, please use separate sheet):
          </li>
        </ol>


        <p>Particulars of Income and Income Tax for the income year ended on 30 June ....................</p>

        <p>Name of the Assessee: .......................</p>
        <p style="text-align: right;">TIN: .......................</p>
        
        <table style="border: 1px solid #000; width: 100%;">
            <tr>
                <td width="5%"></td>
                <td width="85%">Particulars of Total Income</td>
                <td width="10%">Amount ৳</td>
            </tr>
            <tr><td>1</td><td>Income from Employment (as per Schedule 1 of this return)   </td><td></td></tr>
            <tr><td>2</td><td>Income from Rent (as per Schedule 2 of this return)   </td><td></td></tr>
            <tr><td>3</td><td>Income from Agricultural (as per Schedule 3 of this return)   </td><td></td></tr>
            <tr><td>4</td><td>Income from business (as per Schedule 4 of this return)   </td><td></td></tr>
            <tr><td>5</td><td>Income from Capital gains </td><td></td></tr>
            <tr><td rowspan="4">6</td><td>Income from Financial Assets </td><td></td></tr>
            <tr><td>(a) Interest/Profit on Shanchaypatra</td><td></td></tr>
            <tr><td>(b) Interest/Profit on Bank deposit/ Securities etc.</td><td></td></tr>
            <tr><td>(c) Cash Dividend </td><td></td></tr>
            <tr><td>7</td><td>Income from other sources (Royalty, License fee, Honorarium, Fees, Govt. Cash Incentive etc.)</td><td></td></tr>
            <tr><td>8</td><td>Part of income from firm or AOP   </td><td></td></tr>
            <tr><td>9</td><td>Income of minor or spouse (if not assessee)    </td><td></td></tr>
            <tr><td>10</td><td>Taxable Income earned aborad  </td><td></td></tr>
            <tr><td>11</td><td>Total income (aggregate of 1 to 10)   </td><td></td></tr>

        </table>


        <table style="border: 1px solid #000; width: 100%;">
          <tr>
              <td width="5%"></td>
              <td width="85%">Tax Computation</td>
              <td width="10%">Amount ৳</td>
          </tr>
          <tr><td>12</td><td>Income Tax leviable on total taxable income</td><td></td></tr>
          <tr><td>13</td><td>Tax rebate (as per Schedule 5 of this return)     </td><td></td></tr>
          <tr><td>14</td><td>Tax liability after tax rebate (12-13)  </td><td></td></tr>
          <tr><td>15</td><td>Minimum tax </td><td></td></tr>
          <tr><td>16</td><td>Tax Payable (Higher of SL No.  14 and 15) </td><td></td></tr>
          <tr><td rowspan="2">17</td><td>(a) surcharge payable for net wealth (if applicable) </td><td></td></tr>
          <tr><td>(b) Environmental surcharge (if applicable)</td><td></td></tr>

          <tr><td>17</td><td>Delay Interest, Penalty or any other amount payble under the Income Tax Act (if any)  </td><td></td></tr>
          <tr><td>18</td><td>Total Tax payable (16+17+18) </td><td></td></tr>
      </table>

      <table style="border: 1px solid #000; width: 100%;">
        <tr>
            <td width="5%"></td>
            <td width="85%">Particulars of Tax Payments</td>
            <td width="10%">Amount ৳</td>
        </tr>
        <tr><td>20</td><td>Tax deducted or collected at source (attach evidence)</td><td></td></tr>
        <tr><td>21</td><td>Advance tax paid (attach evidence) </td><td></td></tr>
        <tr><td>22</td><td>Adjustment of refundable tax(if any)( [mention relevant assessment year(s) of refund])  </td><td></td></tr>
        <tr><td>23</td><td>Balance Tax paid with this return (attach evidence) </td><td></td></tr>
        <tr><td>24</td><td>Tax Paid ( 20+21+22+23) </td><td></td></tr>


        <tr><td>25</td><td>Excess Payment</td><td></td></tr>
        <tr><td>26</td><td>Tax exempted/Tax free income (attach particulars) </td><td></td></tr>
      </table>
        <p>List of documents furnished with this Return		'</p>
        <br/><br/>


        <h3 style="text-align: center;">Verification</h3>
        <p>I,</p>

        <p>Father/Husband,</p>

        <p>TIN:</p>
        <p>solemnly declare that to the best of my knowledge and belief the information given in this return and statements and documents annexed or attached herewith are correct and complete.</p>
        
        <p>
          Place: <br>
          Date:

        </p>

        <p style="text-align: center; margin-left: 70%;">
          Signature 
          ------------<br><br>										
          Designatiom & Seal (for other than individual)										

        </p>



        <h1 style="text-align:right">{{title}}</h1>

        <p style="text-align: center;">People's Republic of Bangladesh		</p>																								
        <p style="text-align: center;">National Board of Revenue			</p>																							
        <p style="text-align: center;">(Income Tax Office)			 </p>
        <p style="text-align: center;">Acknowledgement Receipt/ Certificate of Return Of Income  </p>
        <p style="text-align: center;">Assessment Year: ........</p>
        
        <p>Name of the Assessee: 	</p>
	
        <p>National Identification Number/Passport Number:	..........................</p>
          
          
        <p>TIN:	......................</p>
          
        <p>Circle :	------------</p>
        <p>Tax Zone : ----------</p>
          
        <p>Total income shown	</p>
          
        <p>Total tax paid	</p>
        <br><br>
        
        <p>Serial no. in return register						</p>
        <p>Volumn no. in return register						</p>
        <p>Date of return submission						</p>
        <p>Seal of Tax Office</p>
        <p>Signature and seal of the official receiving the return </p>
        


<style>
    td{
        border:1px solid #000;
       
       
    }
</style>

        </body>
    </html>