 <html>
    <body>

        <h1 style="text-align:center">{{title}}</h1>
        <p style="text-align:center">The schedule below to be filled in for claiming tax credit on investment  (evidence to be attached)</p>
        
        <p>Name of the Assessee: ..............................</p>
        <p style="text-align:right">TIN ..............................</p>
        <p>Particulars of investment eligible for tax credit</p>
        <table style="border: 1px solid #000">

            <thead>
                <tr>

                    <th width="20">
                        Sl
                    </th>
                    <th width="60%">
                        Particulars of Incomex
                    </th>
                    <th>
                        Amount  ৳
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Basic pay</td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Contribution to deposit pension/Monthly Saving scheme (not exceeding allowable limit) </td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td>3</td>
                    <td>Investment in Govt. securities, Unit certificate, Mutual fund, ETF or Joint investment scheme Unit certificate</td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td>4</td>
                    <td>Investment in securities listed with approved Stock Exchange</td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td>5</td>
                    <td>Contribution of tax payer to any fund to which Provident Fund  Act, 1925 applies</td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td>6</td>
                    <td>Self contribution and employer’s contribution to Recognized Provident Fund</td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td>7</td>
                    <td>Contribution to approved Pension Fund</td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td>8</td>
                    <td>Contribution to Benevolent Fund and Group Insurance Premium</td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td>9</td>
                    <td>Contribution to Zakat Fund</td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td>10</td>
                    <td>Others, if any</td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td>11</td>
                    <td>Total invetment (aggregate of 1 to 10) </td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td>12</td>
                    <td>Amount of Tax Rebate based on investment</td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td>13</td>
                    <td>Amount of Tax Rebate based on eligible taxable income</td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td></td>
                    <td>Allowable Tax Rebate </td>
                    <td></td>
                    
                </tr>
                
            </tbody>
        </table>

        

    </body>
</html>